@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('#loading').show();

            var parentid = queryString('parentid');
            var nivelid = queryString('nivelid');
            var vista = queryString('vista');
            var data = getJson('@Url.Content("~/api/Asistencia/Modulo/List")', { id: parentid });
            var permiso = getJson('@Url.Content("~/api/Sistema/Permiso/Find")', { id: 2107 });

            console.log(nivelid);


            var Model = function (data)
            {
                var self = this;
                self.vista = vista

                self.delete = function (item) {
                    if (confirm('¿Esta seguro de eliminar el registro?'))
                    {
                        postJson('@Url.Content("~/api/Asistencia/Modulo/Delete")', { id: item.id() },
                        function () {
                            
                            document.location.reload();
                        },
                        function () {
                            alert('Error');
                        });
                    }
                };

                self.new = function (item)
                {
                    document.location.href = '@Url.Action("Edit")?parentid=' + parentid +"&nivelid="+ nivelid;
                };

                self.modificar = function (item)
                {
                    var vistatext = (vista)?'vista=' + vista +'&':''; 
                    document.location.href = '@Url.Action("Edit")?' + vistatext  + 'id=' + item.id() + '&parentid=' + parentid +"&nivelid="+ nivelid;
                };

                self.evaluacion = function (item)
                {
                    var vistatext = (vista)?'vista=' + vista +'&':''; 
                    document.location.href = '@Url.Action("Index", "EvaluacionFinal", new { area = "Asistencia" })?' + vistatext  + 'id=' + item.id() + '&parentid=' + parentid +"&nivelid="+ nivelid;
                };

               @* self.detalle = function (item) {
                    var vistatext = (vista)?'vista=' + vista +'&':''; 
                    document.location.href = '@Url.Action("Index", "Sesion","Asistencia")?' + vistatext + 'parentid=' + item.id() + "&superparentid=" + parentid +"&nivelid="+ nivelid;
                };*@

                self.data = ko.mapping.fromJS(data);
                self.permiso = permiso;
                //self.configuracionid = parentid;

                
            };

            ko.applyBindings(new Model(data));
            
            if (vista) {
                $('input,select,textarea,button', 'form').prop("disabled", true);
                $('button.ui-datepicker-trigger').hide();
            }

            $('#loading').hide();
        })

        ShowPopupModuloArchivo = function (item) {
            ShowPopupArchivo('@Url.Action("ModuloArchivo", "ModuloArchivo", new { area = "BibliotecaVirtual" })?biblioteca=0&id=' + item.id(), 1100, 500);
            return false;
        }
    </script>
}



<div class="toolbar">
    <a class="back" title="Volver"  data-bind="attr: { href: '@Url.Action("Index","Configuracion")'}"></a>
    <button type="button" data-bind="enable: (($root.vista) ? false : $root.permiso.agregar),click: $root.new" class="new" title="Nuevo"></button>
    <button type="button" class="refresh" title="Refrescar" onclick="document.location.reload()"></button>
</div>

<fieldset>
    <legend></legend>

    <table class="grid">
        <colgroup>
            <col style="width: 40px" />
            <col />
            <col style="width: 100px" />
            <col style="width: 48px" />
        </colgroup>
        <thead>
            <tr>
                <th>COD</th>
                <th>CURSO</th>
                <th>ORDEN</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: $root.data">
            <tr>
                <td style="text-align: center" data-bind="text: $index() + 1">
                    <input type="hidden" data-bind="value: id, attr: { name: '[' + $index() + '].id' }" />
                </td>
                <td data-bind="text: modulo"></td>
                <td style="text-align: right" data-bind="text: orden"></td>
                <td style="text-align: center">
                    <button type="button" class="btn edit" title="Modificar" data-bind="enable: $root.permiso.modificar,click: $root.modificar" />
                    <button type="button" class="btn del" title="Eliminar" data-bind="enable: (($root.vista) ? false : $root.permiso.modificar),click: $root.delete" />
                </td>
            </tr>
        </tbody>
    </table>

</fieldset>
