<div class="toolbar">
</div>

<fieldset>
    <legend>Seleccione el archivo</legend>

    <table class="grid">
        <colgroup>
            <col style="width: 50px" />
            <col />
            <col style="width: 28px" />
        </colgroup>
        <thead>
            <tr>
                <th>Nª
                </th>
                <th>Archivo
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Ficha General 00.pdf</td>
                <td style="text-align: center">
                    <button type="button" class="btn download" title="Descargar" onclick="document.location.href = '@Url.Content("~/Instrumentos/MonitoreoTC/ficha_general_00.pdf")';"></button>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Ficha Detalle 01.pdf</td>
                <td style="text-align: center">
                    <button type="button" class="btn download" title="Descargar" onclick="document.location.href = '@Url.Content("~/Instrumentos/MonitoreoTC/ficha_detalle_01.pdf")';"></button>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Ficha Detalle 02.pdf</td>
                <td style="text-align: center">
                    <button type="button" class="btn download" title="Descargar" onclick="document.location.href = '@Url.Content("~/Instrumentos/MonitoreoTC/ficha_detalle_02.pdf")';"></button>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>Ficha Detalle 03.pdf</td>
                <td style="text-align: center">
                    <button type="button" class="btn download" title="Descargar" onclick="document.location.href = '@Url.Content("~/Instrumentos/MonitoreoTC/ficha_detalle_03.pdf")';"></button>
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td>Ficha Detalle 04.pdf</td>
                <td style="text-align: center">
                    <button type="button" class="btn download" title="Descargar" onclick="document.location.href = '@Url.Content("~/Instrumentos/MonitoreoTC/ficha_detalle_04.pdf")';"></button>
                </td>
            </tr>
            <tr>
                <td>6</td>
                <td>Ficha Detalle 05.pdf</td>
                <td style="text-align: center">
                    <button type="button" class="btn download" title="Descargar" onclick="document.location.href = '@Url.Content("~/Instrumentos/MonitoreoTC/ficha_detalle_05.pdf")';"></button>
                </td>
            </tr>
            <tr>
                <td>7</td>
                <td>Ficha Detalle 06.pdf</td>
                <td style="text-align: center">
                    <button type="button" class="btn download" title="Descargar" onclick="document.location.href = '@Url.Content("~/Instrumentos/MonitoreoTC/ficha_detalle_06.pdf")';"></button>
                </td>
            </tr>   
            <tr>
                <td>8</td>
                <td>Registro de usuario de acceso guiado a internet.pdf</td>
                <td style="text-align: center">
                    <button type="button" class="btn download" title="Descargar" onclick="document.location.href = '@Url.Content("~/Instrumentos/MonitoreoTC/registro_usuarios _acceso_guiado_internet.pdf")';"></button>
                </td>
            </tr>    
        </tbody>
    </table>
</fieldset>
