@section scripts
{
    <script type="text/javascript">

        $(function () {
            var data, parentid = queryString('parentid');
            var vista = queryString('vista');

            data = getJson('@Url.Content("~/api/Asistencia/Participante/List")', { id: parentid });

            var Model = function (data) {
                var self = this;

                data = data || {
                    id: 0,
                    apellidopaterno: null,
                    apellidomaterno: null,
                    nombre: null,
                    dni: null,
                    ejeintervencion: null,
                    localidad: null,
                    estado: null,
                    notaentrada: 0,
                    notasalida: 0
                };

                console.log(data);
                
                self.Save = function (form) {
                    if ($(form).refreshValidator().valid()) {
                        postJson('@Url.Content("~/api/Asistencia/Participante/Save")',
                             {
                                 claseid: parentid,
                                 persona: JSON.parse(ko.mapping.toJSON(self.data))
                             },
                        function () {
                            alert("Los datos fueron guardados");
                            window.close();
                            //document.location.href = '@Url.Action("Index")';
                        },
                        function () {
                            alert('Error');
                        });
                    }
                };

                

                self.data = ko.mapping.fromJS(data);

                self.SelectAll = ko.computed({
                    read: function () {
                        var persons = self.data();
                        for (var i = 0, l = persons.length; i < l; i++)
                            if (!persons[i].estado()) return false;
                        return true;
                    },
                    write: function (value) {
                        ko.utils.arrayForEach(self.data(), function (person) {
                            person.estado(value);
                        });
                    }
                });
            };

            ko.applyBindings(new Model(data));

            if (vista) {
                $('input,select,textarea,button', 'form').prop("disabled", true);
                $('button.ui-datepicker-trigger').hide();
            }
        })

         
    </script>
}

<form data-bind="submit: Save" style="width: 100%; float: left;">
    <div class="toolbar">
        <button type="button" class="save" title="Grabar" onclick="$(this).closest('form').submit()"></button>
        <button type="button" class="refresh" title="Refrescar" onclick="document.location.reload()"></button>
    </div>


    <fieldset>
        <legend>Personas</legend>
            <table class="grid">
            <colgroup>
                <col style="width: 40px" />
                <col style="width: 100px" />
                <col style="width: 100px" />
                <col style="width: 100px" />
                <col style="width: 80px" />
                <col />
                <col />
                <col />
                <col />
                <col style="width: 48px" />
            </colgroup>
            <thead>
                <tr>
                    <th colspan="7">GENERAL</th>
                    @*<th colspan="2">ANTI</th>*@
                    <th colspan="4" title="¿Cómo calificarías la sesión brindada por el promotor ?"> 4</th>
                    <th rowspan="2" title="¿Recomendarías el curso de educaiónn financiera a otras personas?">5</th>
                    <th rowspan="2" title="¿Por qué es importante ahorrar en una institución financiera?">6</th>
                    <th rowspan="2" title="¿ Por qué es importante hacer un presupuesto?">7</th>
                    <th rowspan="2" title="¿Cuáles son las consecuencias del incumplimiento de un crédito?">8</th>
                    <th rowspan="2" title="¿cuáles son las responsabilidades al adquirir un crédito?">9</th>
                    
                    <th colspan="3" title="¿Qué productos financieros usas actualmente?">10</th>
                    <th colspan="3" title="¿Qué criterios tendrías en cuenta al solicitar un crédito?">11</th>
                    <th colspan="3" title="¿ Qué criterios tendrías encuenta al abrir una cuenta de ahorros?">12</th>

                    <th rowspan="2" title="¿ Cuál de los productos financieros te sirven más para tu vida diaria?">13</th>

                    <th>Sel.</th>
                </tr>
                <tr>
                    <th>COD</th>
                    <th>APELLIDO PATERNO</th>
                    <th>APELLIDO MATERNO</th>
                    <th>NOMBRE</th>
                    <th>DNI</th>
                    <th>EJE INTERVENCION</th>
                    <th>LOCALIDAD</th>
                    @*<th>PE</th>
                    <th>PS</th>*@

                    <th>4.a</th>
                    <th>4.b</th>
                    <th>4.c</th>
                    <th>4.d</th>

                    <th>a</th>
                    <th>b</th>
                    <th>c</th>

                    <th>a</th>
                    <th>b</th>
                    <th>c</th>
                   
                    <th>a</th>
                    <th>b</th>
                    <th>c</th>

                    <th>
                        <input type="checkbox" data-bind="checked: SelectAll" />
                    </th>
                    
                </tr>
            </thead>
            <tbody data-bind="foreach: $root.data">
                <tr>
                    <td style="text-align: center" data-bind="text: $index() + 1">
                        <input type="hidden" data-bind="value: id, attr: { name: '[' + $index() + '].id' }" />
                    </td>
                    <td data-bind="text: apellidopaterno"></td>
                    <td data-bind="text: apellidomaterno"></td>
                    <td data-bind="text: nombre"></td>
                    <td style="text-align: center" data-bind="text: dni"></td>
                    <td data-bind="text: ejeintervencion"></td>
                    <td data-bind="text: localidad"></td>


                    @*<td>
                        @Html.koNumeric("notaentrada", maxlength:5, required:false)
                    </td>
                    <td>
                        @Html.koNumeric("notasalida", maxlength:5, required:false)
                    </td>*@




                    <td>
                        @Html.koNumeric("p4a", @decimal: false, maxlength: 2, required: false)
                    </td>
                    <td>
                        @Html.koNumeric("p4b", @decimal: false, maxlength: 2, required: false)
                    </td>
                    <td>
                        @Html.koNumeric("p4c", @decimal: false, maxlength: 2, required: false)
                    </td>
                    <td>
                        @Html.koNumeric("p4d", @decimal: false, maxlength: 2, required: false)
                    </td>


                    <td>
                        @Html.koNumeric("p5", @decimal: false, maxlength: 2, required: false)
                    </td>
                    <td>
                        @Html.koNumeric("p6", @decimal: false, maxlength: 2, required: false)
                    </td>
                    <td>
                        @Html.koNumeric("p7", @decimal: false, maxlength: 2, required: false)
                    </td>
                    <td>
                        @Html.koNumeric("p8", @decimal: false, maxlength: 2, required: false)
                    </td>
                    <td>
                        @Html.koNumeric("p9", @decimal: false, maxlength: 2, required: false)
                    </td>


                    <td>
                        @Html.koNumeric("p10a", @decimal: false, maxlength: 2, required: false)
                    </td>
                    <td>
                        @Html.koNumeric("p10b", @decimal: false, maxlength: 2, required: false)
                    </td>
                    <td>
                        @Html.koNumeric("p10c", @decimal: false, maxlength: 2, required: false)
                    </td>


                    <td>
                        @Html.koNumeric("p11a", @decimal: false, maxlength: 2, required: false)
                    </td>
                    <td>
                        @Html.koNumeric("p11b", @decimal: false, maxlength: 2, required: false)
                    </td>
                    <td>
                        @Html.koNumeric("p11c", @decimal: false, maxlength: 2, required: false)
                    </td>


                    <td>
                        @Html.koNumeric("p12a", @decimal: false, maxlength: 2, required: false)
                    </td>
                    <td>
                        @Html.koNumeric("p12b", @decimal: false, maxlength: 2, required: false)
                    </td>
                    <td>
                        @Html.koNumeric("p12c", @decimal: false, maxlength: 2, required: false)
                    </td>

                    <td>
                        @Html.koNumeric("p13", @decimal: false, maxlength: 2, required: false)
                    </td>



                    <td style="text-align: center">
                        <input type="checkbox" data-bind="checked: estado, attr: { name: 'checkBoxPersona' + id }" />
                    </td>
                </tr>
            </tbody>
        </table>

    </fieldset>
</form>

@*<pre class="json" data-bind="text: JSON.stringify(ko.mapping.toJS(data) , null, '  ')"></pre>*@
