@section scripts
{
    <script type="text/javascript">
        $(function () {
            var id = queryString('id');
            var biblioteca = queryString('biblioteca');

            var pagina = 18;
            if (biblioteca == 0)
                pagina = 67;

            if (!id) document.location.href = '@Url.Action("Index")';

            var data = getJson('@Url.Content("~/api/BibliotecaVirtual/MarcoLogicoArchivo/PropositoListArchivos")', { id: id });
            var permiso = getJson('@Url.Content("~/api/Sistema/Permiso/Find")', { id: pagina });

            var Model = function (data) {
                var self = this;
                self.data = ko.mapping.fromJS(data);
                self.permiso = permiso;

                self.delete = function (item) {
                    if (confirm('¿Desea eliminar este archivo?')) {
                        postJson('@Url.Content("~/api/BibliotecaVirtual/MarcoLogicoArchivo/PropositoDeleteArchivo")', { id: item.id() }, function () {
                            
                            self.data.archivos.remove(item);
                        })
                    }
                }
            };

            ko.applyBindings(new Model(data));
        })
    </script>
}


<fieldset>
    <legend>Adjuntar archivo</legend>
    <form method="post" enctype="multipart/form-data">    
        <input type="hidden" name="id" data-bind="value: data.id" />
        <p>
            Archivo:
            <input type="file" data-bind="enable: $root.permiso.agregar" name="files" data-val="true" data-val-required="" multiple="multiple" />
            <button type="submit" data-bind="enable: $root.permiso.agregar"><a class="btn add"></a>Adjuntar</button>
        </p>
    </form>
</fieldset>

<fieldset>
    <legend>Listado de archivos</legend>
    <table class="grid">
        <thead>
            <tr>
                <th>Nombre</th>
                <th style="width: 150px;">Tamaño</th>
                <th style="width: 150px;">Fecha</th>
                <th style="width: 40px;"></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: data.archivos">
            <tr>
                <td>
                    <b data-bind="attr: { class: 'fileicon ' + nombre().split('.').pop() }"></b>
                    <span data-bind="text: nombre"></span>
                </td>
                <td data-bind="text: formatFileSize(tamanio)" style="text-align: right;"></td>
                <td data-bind="text: formatDate(fecha)" style="text-align: right;"></td>
                <td style="text-align: center;">
                    <a class="btn download" data-bind="attr: { href: '@Url.Action("PropositoDownload","MarcoLogicoArchivo", new { area = "BibliotecaVirtual" })/' + id() }"></a>
                    <button type="button" class="btn del" data-bind="enable: $root.permiso.agregar, click: $root.delete"></button>
                </td>
            </tr>
        </tbody>
    </table>
</fieldset>
